// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

// image-form
@import 'image';
@import 'animetion';

// レスポンシブデザイン
@import 'response';


.bg-whitesmoke{
        background-color: whitesmoke;
}


/*後で編集*/
/*input[type="text"] {*/
/*    border: none;*/
/*  border-bottom: 1px solid lightgray;*/
/*}*/
/*input[type="text"]:focus {*/
/*  outline: 0;*/
/*  border-bottom: 1px solid #ff9900;*/
/*}*/

// フラッシュ
.frash-success{
    color: white;
    background-color: #5bd1d7;
}
.frash-info{
    color: #348498;
    background-color: #F4F4F4;
}
.frash-danger{
    color: white;
    background-color: #ff502f;
}
.frash-edit{
    color: white;
    background-color: #348498;
}
.frash-post-edit{
    color: white;
    background-color: #3871A1;
} 
.frash-user-edit{
    color: white;
    background-color: #38BD67;
}
.frash-warning{
    color: 	#0F6331;
    background-color:  #FFDF61;
} 

// 背景色
.bg-success2{
    color: white;
    background-color: #5bd1d7;
}
.bg-info2{
    color: #348498;
    background-color: #F4F4F4;
}
.bg-danger2{
    color: white;
    background-color: #ff502f;
}
.bg-edit2{
    color: white;
    background-color: #348498;
}
.bg-post-edit2{
    color: white;
    background-color: #3871A1;
} 
.bg-user-edit2{
    color: white;
    background-color: #38BD67;
}
.bg-warning2{
    color: 	#0F6331;
    background-color:  #FFDF61;
} 

// text-color
.text-success2{
    color:  #5bd1d7;
}
.text-info2{
    color: #F4F4F4;
}
.text-danger2{
    color: #ff502f;
}
.text-edit2{
    color: #348498; 
}
.text-post-edit2{
    color: #3871A1;
} 
.text-user-edit2{
    color: #38BD67;
}
.text-warning2{
    color: 	#FFDF61;
} 

.text-whitesmoke{
    color: whitesmoke;
}

.tab-color{
    color: white;
    background-color: #5bd1d7;
    border: solid 1px white;
    border-radius: 25px 25px 0px 0px/ 25px 25px 0px 0px;
    
     cursor: pointer;
    transition-duration: 0.7s;
}
.tab-color-select{
    color: #3871A1;
    background-color: whitesmoke;
    border: solid 1px white;
    border-radius: 25px 25px 0px 0px/ 25px 25px 0px 0px;
    
    transition-duration: 0.7s;
}

.tab-color h5{
    font-family: 'Yu Gothic';
}

// 游ゴシックのテキスト
.text-yu{
    // font-weight: 700;
    font-family: 'Yu Gothic';
}

/*改行を許可*/
.break-word{
    white-space: pre-line;
}

// 指
.pointer{
     cursor: pointer; 
}


// admin
// データベーステーブルの設定
.text-over {
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-over:hover {
    width: 130px;
    transition: 0.5s;
    overflow: visible; 
    text-overflow: initial;
    white-space: pre-line;
}