// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.bg-whitesmoke{
        background-color: whitesmoke;
}


/*後で編集*/
/*input[type="text"] {*/
/*    border: none;*/
/*  border-bottom: 1px solid lightgray;*/
/*}*/
/*input[type="text"]:focus {*/
/*  outline: 0;*/
/*  border-bottom: 1px solid #ff9900;*/
/*}*/

// フラッシュ
.frash-success{
    color: white;
    background-color: #5bd1d7;
}
.frash-info{
    color: #348498;
    background-color: #F4F4F4;
}
.frash-danger{
    color: white;
    background-color: #ff502f;
}
.frash-edit{
    color: white;
    background-color: #348498;
}
.frash-post-edit{
    color: white;
    background-color: #3871A1;
} 
.frash-user-edit{
    color: white;
    background-color: #38BD67;
}
.frash-warning{
    color: 	#0F6331;
    background-color:  #FFDF61;
} 